
<h2>PIN {{ register.pin | uppercase }}</h2>

<div class="example-container">

  <mat-form-field>
    <input matInput [(ngModel)]="registerModel.pin" placeholder="Personnummer" />
  </mat-form-field>

  <mat-form-field>
    <input matInput [(ngModel)]="registerModel.name" placeholder="Name" />
  </mat-form-field>

  <mat-form-field>
    <input matInput [(ngModel)]="registerModel.initialAmount" placeholder="Initial Amount">
  </mat-form-field>

  <button mat-raised-button color="primary" (click)="register(registerModel.pin, registerModel.name, registerModel.initialAmount);">
    Register
  </button>
</div>


