
<h2>PIN {{ register.pin | uppercase }}</h2>

<div class="example-container">

  <mat-form-field>
    <input matInput [(ngModel)]="register.pin" placeholder="Personnummer" />
  </mat-form-field>

  <mat-form-field>
    <input matInput [(ngModel)]="register.name" placeholder="Name" />
  </mat-form-field>

  <mat-form-field>
    <input matInput [(ngModel)]="register.initialAmount" placeholder="Initial Amount">
  </mat-form-field>

  <button mat-raised-button color="primary" (click)="add(register.pin, register.name, register.initialAmount);">
    Register
  </button>
</div>

<h3>ID: {{customer.customerId}}</h3>