
<h2>PIN {{ registerModel.pin | uppercase }}</h2>

<div class="example-container">

  <mat-form-field>
    <input matInput [(ngModel)]="registerModel.PIN" placeholder="Personnummer" />
  </mat-form-field>

  <mat-form-field>
    <input matInput [(ngModel)]="registerModel.Name" placeholder="Name" />
  </mat-form-field>

  <mat-form-field>
    <input matInput [(ngModel)]="registerModel.InitialAmount" placeholder="Initial Amount">
  </mat-form-field>

  <button mat-raised-button color="primary" (click)="register();">
    Register
  </button>
</div>


