<mat-accordion>
  <mat-expansion-panel *ngFor="let account of accountsModel">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{account.CurrentBalance.Value | currency }}
      </mat-panel-title>
      <mat-panel-description>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <mat-list>
      <mat-list-item *ngFor="let transaction of account.Transactions" 
        [style.color]="transaction.description == 'Credit' ? 'green' : 'red'">
        {{ transaction.amount.value | currency}}
      </mat-list-item>
    </mat-list>

    <app-deposit></app-deposit>

  </mat-expansion-panel>
</mat-accordion>
